*{
    margin: 5px;
}
h1{
    color: deepskyblue;
}
.para{  
    background-color: azure;
    text-align: justify;
    padding: 20px;
    border: 2px solid skyblue;
    border-radius: 30px 5px 30px 5px;
    box-shadow: 5px 5px 10px;
}
.para2{
    background-image: url('ocean-3605547_640.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    color:aliceblue;
    height: 650px;
    width:2060px;
}